@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.body {
    transition: background-color 0.2s ease-in-out; 
    overflow-x: hidden;
    height: 100%;
    margin: 0;
}

.navbar {
  margin-top: 0;
  z-index: 2;
}

.navbar-expand-md .navbar-nav {
  padding-top: 0;
  z-index: 1;
}

.navbar-expand-md .navbar-toggler {
  margin-top: 0.25rem;
  z-index: 1;
}

.navbar-expand-md .navbar-collapse {
  margin-top: 1rem;
  z-index: 1;
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav a:hover {
    text-decoration: underline;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.button {
    background-color: blue;
}

.p {
    font: Arial;
}


#style-1::-webkit-scrollbar-track // taken from css-tricks.com
{
  -webkit-box-shadow: inset 0 0 6px rgba(0,0,0,0.3);
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar
{
  width: 10px;
  background-color: #F5F5F5;
}

#style-1::-webkit-scrollbar-thumb
{
  background-color: #F90; 
  background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%,
                        transparent 25%,
                        transparent 50%,
                        rgba(255, 255, 255, .2) 50%,
                        rgba(255, 255, 255, .2) 75%,
                        transparent 75%,
                        transparent)
}

.scrollbar {
    width: 20px;
    background: black;
}
.video-container {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

#bg-video {
    position: absolute;
    top: 1rem;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center center;
    z-index: -1;
    filter: brightness(70%) contrast(90%) sepia(10%) grayscale(10%) blur(2px);
}

.center-icon {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100%;
    margin-top: 3rem;
}


