@tailwind base;
@tailwind components;
@tailwind utilities;

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}
.body {
    
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav a:hover {
    text-decoration: underline;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.projects {
    // container to hold project image + discription 
    // will be a button linked to where the project is within my github
}

.projTitle {
    

}