@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

.header {
    background-color: #333;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.body {
    transition: background-color 0.2s ease-in-out; 
}

.nav a {
    color: #fff;
    text-decoration: none;
    margin: 0 10px;
}

.nav a:hover {
    text-decoration: underline;
}

a:link {
    text-decoration: none;
    color: black;
}

a:visited {
    text-decoration: none;
}

a:hover {
    text-decoration: none;
}

a:active {
    text-decoration: none;
}

.button {
    background-color: blue;
}

.p {
    font: Arial;
}