@import 'tailwindcss/base';
@import 'tailwindcss/components';
@import 'tailwindcss/utilities';

body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    font: white
}

.container {
    text-align: center;
}

.button-container {
    display: absolute;
    justify-content: center;
    align-items: center;
    flex-direction: row;
    gap: 10px;
}

.link-button {
    display: flex;
    align-items: center;
    position: relative;
    text-decoration: none;
}

.button-content {
    display: flex;
    align-items: center;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    font-size: 2vw;
}

.button-content img {
    width: 30px; 
    margin-right: 10px;
}

.button-content::before {
    content: attr(data-image-id);
    position: absolute;
    top: 5px;
    right: 5px;
    color: white;
    padding: 2px 5px;
    border-radius: 3px;
}

.button-icon {
   width: 3vw;
   height: 3vw;
}

.button-icon:hover {
    border: 2px solid white;
}
