body {
    font-family: Arial, sans-serif;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background-color: black;
    font: white
}

.container {
    text-align: center;
}

.btn {
    display: block;
    margin: 10px auto;
    padding: 10px 20px;
    background-color: #007bff;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    border: none; /* Remove the default button border */
    cursor: pointer;
    transition: background-color 0.3s;
}

.btn:hover {
    background-color: #0056b3;
}

.github-btn {
    display: block;
    margin: 30px auto;
    padding: 15px 30px;
    background-color: #333;
    color: #fff;
    text-decoration: none;
    font-size: 1.2em;
    border-radius: 5px;
    border: none; /* Remove the default button border */
    cursor: pointer;
    transition: background-color 0.3s;
}

.github-btn:hover {
    background-color: #555;
}


/* styles.css */
.typed-text {
    display: inline-block;
    font-size: 3em;
    text-align: left;
    overflow: hidden;
}

.letter {
    display: inline-block;
    transform: scale(0,1);
    transform-origin: 0 100%;
    animation: fillIn 0.8s forwards ease-out;
    opacity: 0;
}

#cursor {
    position: absolute;
    left: 0;
    animation: blink 1s infinite;
}

.container {
    text-align: center;
}

.letter {
    font-size: 5em;
    opacity: 0;
    display: inline-block;
}